
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
/lighthouse-reports/*
/allure-results/
/cucumber-html-report/
/.features-gen/
/cucumber-report/
/cucumber-report/results.json
/lighthouse-reports-function toString() { \[native code] }/Lighthouse Report.html
lighthouse-reports-function toString() { \[native code] }/Lighthouse Report.html
cucumber-report/results.json
cucumber-report/index.html
a11y_result/
